body {
    background-color: black;
    color:blanchedalmond;
}

h1 {
    color: rgb(255, 11, 174);
    background-color: sienna;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: normal;
    text-transform: uppercase;
    
}

p {
    font-family: fantasy;
    color:rgb(77, 6, 243)
    font-size: 16px;
}